<!DOCTYPE html>
<html>
<head>
    <title>MVCECommerce</title>
    <meta name="viewport" content="width=device-width" /> <!--Diğer cihazlarla uyumlu gözükmesi için kullanıyoruz.-->
</head>
<body>
    @RenderBody()  <!--diğer sayfaları(viewleri) buraya doldurur _Layout sayfasıyla birleşir.--> 
</body>
</html>
